@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html{
    background-color: black;
}
::selection {
    background: #ff0000; 
    }
body {
    margin: 0;
    overflow: hidden;
}
.fkln {
    font-family: 'Koulen', cursive;
}
.popin {
    font-family: 'Poppins', sans-serif;
}
.rubik {
    font-family: 'Rubik', sans-serif;
}
.vid1 {
    position: absolute;
    top: -20px;
    z-index: -11;
}
.vid {
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#amgheader {
    color: white;
    font-size: 200px;
    font-weight: 600;
    animation: neon .1s ease-in-out infinite alternate;
}
#amgheader1 {
    color: white;
    font-size: 85px;
    font-weight: 600;
    animation: neon .1s ease-in-out infinite alternate;
}
@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 31px rgba(191, 226, 255, 0.92), 0 0 44px rgba(191, 226, 255, 0.78), 0 0 74px rgba(191, 226, 255, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.58), 0 0 32px rgba(191, 226, 255, 0.84), 0 0 48px rgba(191, 226, 255, 0.88), 0 0 70px #FFF;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 567567;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .contbox{
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5%;
    justify-content: center;
    align-items: center;
   
  }
  .contbox div{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contbox a{
    width: 87px;
    height: 21px;
    background-color: #000000;
  }
  .contbox hr{
    background-color: red;
    border: none;
    width: 100%;
    height: 3px;
  }
  .contbox div h2{
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  .contbox div h1{
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  .close {
    width: 50px;
    height: 50px;
    background-color: red;
    color: white;
    transition: 1s;
    border: none;
    border-radius: 15%;
  }
  .close:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px #c13b3b;
 }
/*#########################################################################################################*/
.nav {
    width: 220px;
    min-width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0 5px 0 0;
    right: -320px;
    padding: 15px 20px;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
    background: inherit;
    z-index: 2000;
}

.nav-toggle {
    position: absolute;
    right: 320px;
    top: 1em;
    padding: 0.5em;
    background: inherit;
    color: #dadada;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

.nav-toggle:hover {
    color: #f4f4f4;
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}


[id='nav-toggle']:checked ~ .nav {
    right: 0;
    box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(-320px);
    -moz-transform: translateX(-320px);
    transform: translateX(-320px);
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}

@media screen and (min-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
    .nav {
      width: 100%;
      box-shadow: none
    }
}


.nav h2 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.nav h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}

[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}

.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}




.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}



.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #c13b3b;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}




.nav > ul > li > a:hover:before {
    width: 0%;
    background: #ff0000;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.mask-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
}

[id='nav-toggle']:checked ~ .mask-content {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
}



/*#########################################################################################################*/
/* .burger {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    position: fixed;
    left: 1800px;

}
.lineb1 {

    height: 6px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    margin-top: 8px;
    border-radius: 10px;
    transition: 1s ease-out;
}
.lineb2 {

    height: 6px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    margin-top: 8px;
    border-radius: 10px;
    transition: 1s ease-out;
}
.lineb3 {

    height: 6px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    margin-top: 8px;
    border-radius: 10px;
    transition: 1s ease-out;
}
.burger:hover .lineb1{
    transform: rotate(180deg);
}
.burger:hover .lineb2{
    transform: rotate(180deg);
}
.burger:hover .lineb3{
    transform: rotate(180deg);
}
ul {
    width: 160px;
    height: 800px;
    transition: 1s;
    position: fixed;
    top: 1px;
    left: 1650px;
    background-color: rgba(255, 255, 255, 0,1);
    z-index: 999;
    display: none;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
ul > a {
    text-decoration: none;
    color: red;
    padding: 5px;
    font-size: 21px;
    width: 75px;
    height: 20px;
    margin-top: 10px;
    font-weight: 600;
    animation: neonred .9s ease infinite alternate;

} */
@keyframes neonred {
    from {
        text-shadow: 0 0 6px rgba(219, 136, 122, 0.92), 0 0 20px rgba(214, 99, 84, 0.34), 0 0 12px rgba(216, 59, 32, 0.52), 0 0 21px rgba(182, 67, 67, 0.92), 0 0 24px rgba(180, 92, 92, 0.78), 0 0 44px rgba(209, 105, 105, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(161, 75, 75, 0.98), 0 0 20px rgba(240, 33, 33, 0.42)0 0 12px rgba(134, 26, 26, 0.514), 0 0 22px rgba(209, 85, 85, 0.84), 0 0 28px rgba(194, 61, 61, 0.88), 0 0 40px rgb(240, 28, 28);
    }
}
/* .burger:hover ul{
    display: inline-block;
} */
#logo {
    position: absolute;
    width: 180px;
    height: 100px;
    left: 20px;
}
#lupa {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 230px;
    top: 35px;
    transition: 1s;
}
#find {
    position: absolute;
    left: 300px;
    top: 35px;

}
#lupa:hover {
    transform: scale(1.3);
}
#lupa:hover #find {
    display: block;
}
input {
    background-color: rgb(61, 61, 61);
    color: white;
    font-weight: 600;
}
main {
    margin-top: -30px;
    height: auto;
    width: 1920px;
    background-color: rgb(0, 0, 0);
}
.fsect {
    margin-top: 210px;
    height: 1000px;
    
}
#gwmain {
    width: 1880px;
}
a {
    text-decoration: none;
}
.bblock {
    position: relative;
    left: 120px;
    top: -820px;
    color: white;
    width: 400px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bblock > h2 {
    text-align: center;
}
.bblock > a{
    width: 250px;
    height: 100px;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: 900;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.bblock > a:hover {
    transform: scale(1.1);
    transition: 1s;
}
#ssect {
    height: 1000px;   
    width: 1920px;
    background-image: url(https://www.mercedes-amg.com/content/global/en/vehicles/c-class/coupe/jcr:content/content/mediaslider/slides/slide/media1/image.media4.responsive_full_viewport_16_9.1537389921939.jpeg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px;
    
}
.zag{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top: -305px;
}
.zag > p {
    font-size: 75px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-bottom: red 2px solid; 
}
.bblock1 {
    position: relative;
    left: 1220px;
    top: 200px;
    color: white;
    width: 400px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bblock1 > h2 {
    text-align: center;
}
.bblock1 > a{
    width: 250px;
    height: 100px;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: 900;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.bblock1 > a:hover {
    transform: scale(1.1);
    transition: 1s;
}
footer {
    height: 700px;
    margin-top: -22px;
    background-color: black;
    display: flex;

}

.footr {
    height: 500px;
    width: 600px;
    position: relative;
    top: 100px;
    left: 20px;
    background-color: black;
    color: white;
}
.footr > h1 {
    color:white;
}
.footr > a {
    color:white;
}
#phone {
    width: 30px;
    height: 30px;
    transition: 1s;
}
#mail {
    width: 30px;
    height: 30px;
    transition: 1s;
}
#phone:hover {
    transform: scale(1.3);
}
#mail:hover {
    transform: scale(1.3);
}
#dph > p{
    color: white;
    margin-top: 2px;
    margin-left: 2px;
}
#dph {
    display: flex;
}
#dmail {
    display: flex;
}
#dmail > p{
    color: white;
    margin-top: 2px;
    margin-left: 2px;
}
.footl {
    height: 500px;
    width: 600px;
    position: relative;
    top: 100px;
    left: 20px;
    background-color: black;
    color: white;
    margin-left: 20px;
}
#socs{
    display: flex;
    justify-content: space-between;
}
#inst {
    width: 90px;
    height: 90px;
}
#facebook {
    width: 90px;
    height: 90px;
}
#twitter {
    width: 90px;
    height: 90px;
}
#yt {
    width: 100px;
    height: 100px;
}
#dopsilk {
    display: flex;
}
#dopsilk > a {
    color:white;
}
.inst:hover {
    transform: scale(1.1);
}
.facebook:hover {
    transform: scale(1.1);
}
.twitter:hover {
    transform: scale(1.1);
}
.yt:hover {
    transform: scale(1.1);
}
.inst {
    transition: 1s;
}
.facebook {
    transition: 1s;
}
.twitter {
    transition: 1s;
}
.yt {
    transition: 1s;
}
:root {
    --scrollbarBg: rgb(255, 0, 0);
    --scrollbarBg1: rgb(0, 0, 0);
    --scrollbarThumb1: rgba(255, 255, 255, 0.8);
    --scrollbarWidth1: 12px;
    --scrollbarBorder1: 2px solid var(--scrollbarBg);
    --scrollbarBorderRadius1: calc(var(--scrollbarWidth) / 0.2);
  }

  html {
    scrollbar-width: var(--scrollbarWidth1);
    scrollbar-color: var(--scrollbarThumb1) var(--scrollbarBg1);
  }
  html::-webkit-scrollbar {
    width: var(--scrollbarWidth1);
  }
  html::-webkit-scrollbar-track {
    background: var(--scrollbarBg1);
    border-radius: var(--scrollbarBorderRadius1);
  }
  html::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb1);
    border-radius: var(--scrollbarBorderRadius1);
    border: var(--scrollbarBorder1);
  }



  svg {
	font-family: "Rubik", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 200px;
}
@keyframes stroke {
	0%   {
		fill: rgba(204,204,204,0); stroke: rgba(160,20,20,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(204,204,204,0); stroke: rgba(160,20,20,1); }
	80%  {fill: rgba(204,204,204,0); stroke: rgba(160,20,20,1); stroke-width: 3; }
	100% {
		fill: rgba(204,204,204,1); stroke: rgba(160,20,20,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

hr {
    content: 'ยง';
    background-color: red;
    border: none;
    height: 3px;

}

#car::-webkit-scrollbar {
    display: none;
}
#car1::-webkit-scrollbar {
    display: none;
}
.characteristics {
    width: 1900px;
    height: 400px;
    margin: 20 10 20 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.characteristic{
    width: 140px;
    height: 400px;
    font-size: 55px;
    font-weight: 800;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.characteristic1{
    width: 540px;
    height: 400px;
    font-size: 40px;
    font-weight: 800;
    color: rgb(248, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imgopis {
    transition: 1s;
}
.imgopis:hover {
    transform: scale(0.9);
}
.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
 }
 
 .glitch {
    position: relative;
    left: -40px;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #FFFFFF;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF0000;
    z-index: -2;
 }
 
 @keyframes glitch-it {
    0% {
       transform: translate(0);
    }
    20% {
       transform: translate(-2px, 2px);
    }
    40% {
       transform: translate(-2px, -2px);
    }
    60% {
       transform: translate(2px, 2px);
    }
    80% {
       transform: translate(2px, -2px);
    }
    to {
       transform: translate(0);
    }
 }

 .buy {
    width: 500px;
    height: 250px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -200px;
 }
 .butbuy {
    width: 200px;
    height: 75px;
    background-color: red;
    color: white;
    transition: 1s;
 }
 .buywidget {
    width: 1920px;  
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .butbuy:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px #c13b3b;
    /* backdrop-filter: blur(100px); */
 }